{:webserver/port #long #or [#env PORT 3000]
 :env #profile {:dev :dev
                :default :dev
                :prod :prod}
 :release "1.0.0"
 :supabase-api-key #or [#env SUPABASE_API_KEY "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRndmRmeHVyZ3NkZHhvdXhtdWdzIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE1MDM0NDMsImV4cCI6MTk5NzA3OTQ0M30.7pq4MM_ZldiWvOk_cnQuxlvUF8eFcxlPDB7jMTNMYb0"]
 :supabase-url #or [#env SUPABASE_URL "https://tgvdfxurgsddxouxmugs.supabase.co"]
 :supabase-jwt-secret #or [#env SUPABASE_JWT_SECRET "OP6cAnR4J7im0KH2sWeeTlwf4xQOZTuYtoO1mJ3vpON/szjCMpixe4r+9X3HvhZphxV79wl+2amIxo/AkfR28g=="]
 :moclojer {:config-path #profile {:default "resources/moclojer.yml"
                                   :prod "moclojer.yml"}
            :join? #profile {:default false
                             :dev false
                             :prod true}}
 :storage {:access-key-id #or [#env AWS_ACCESS_KEY_ID "foo"]
           :secret-access-key #or [#env AWS_SECRET_ACCESS_KEY "bar"]
           :region #or [#env AWS_REGION "us-east-1"]
           :protocol #profile {:dev :http
                               :default :http
                               :prod :https}
           :port #profile {:dev 4566}
           :host #profile {:dev "localhost"
                           :default "localhost"
                           :prod "sfo3.digitaloceanspaces.com"}}
 :sentry {:env #profile {:dev "dev"
                         :prod "prod"
                         :default "prod"}
          :dns #or [#env SENTRY_AUTH_TOKEN "foobar"]}
 :cloud-providers
 {:digital-ocean {:base-url "https://api.digitalocean.com/v2"
                  :token #or [#env DO_TOKEN "foobar"]
                  :app-id "4dd19675-0b62-4b9a-8082-8ee5d9eab99a"}
  :cloudflare {:base-url "https://api.cloudflare.com/client/v4"
               :token #or [#env CF_TOKEN "foobar"]
               :zone-id "c6f10cf4dd7ace4b979d60c22066be23"
               :record-content "goldfish-app-zq7eo.ondigitalocean.app"}
  :proxy {:proxy-host #or [#env PROXY_HOST "162.243.162.62"]
          :proxy-port 3128
          :proxy-user #or [#env PROXY_USER "moclojer"]
          :proxy-pass #or [#env PROXY_PASS "foobar"]}
  :max-verification-attempts 20
  :verification-timeout-ms 3000}
 :mq {:uri #or [#env REDIS_URL "redis://localhost:6379"]}
 :database {:dbtype "postgres"
            :jdbc-url #or [#env DATABASE_URL "postgresql://localhost:5432/postgres?user=postgres&password=postgres"]}
 :migration-dir "back/migrations"}

