pom.xml
pom.xml.asc
*.jar
*.class
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

## application
node_modules
.shadow-cljs
.lsp
.clj-kondo/.cache

lib/node_modules/
lib/lib

resources/public/assets

lib/styles
