pom.xml
pom.xml.asc
*.jar
*.class
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

## application
node_modules
.shadow-cljs
.lsp
.clj-kondo/.cache

lib/node_modules/
lib/lib

resources/public/assets

lib/styles

resources/test
!resources/test/mockServiceWorker.js

/target
/checkouts
/src/gen

.clj-kondo/.cache
.lsp/.cache
.cpcache

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
