;;shadow clj config
{:deps {:aliases [:front-dev]}
 :nrepl {:port 8777}
 :build-defaults {:closure-defines {front.app.auth.supabase/SUPABASE_URL "https://tgvdfxurgsddxouxmugs.supabase.co"
                                    front.app.auth.supabase/SUPABASE_TOKEN "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRndmRmeHVyZ3NkZHhvdXhtdWdzIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE1MDM0NDMsImV4cCI6MTk5NzA3OTQ0M30.7pq4MM_ZldiWvOk_cnQuxlvUF8eFcxlPDB7jMTNMYb0"}}
 :builds {:app {:target :browser
                :output-dir "resources/front/public/assets/js"
                :asset-path "/assets/js"
                :devtools {:preloads [dev.refresh]
                           :reload-strategy :full
                           :http-port 8200
                           :http-root "resources/front/public/"}
                :dev      {:modules {:core {:init-fn dev.core/init}}
                           :compiler-options {:warning-as-errors true}}
                :release  {:modules {:core {:init-fn front.app.core/init}}
                           :closure-defines {front.app.core/DEBUG false
                                             front.app.http/API_URL "https://app.moclojer.com/api"
                                             front.app.auth.supabase/SUPABASE_REDIRECT "https://app.moclojer.com/#/"}
                           :compiler-options {:optimizations :advanced
                                              :infer-externs :auto
                                              :source-map true
                                              :warnings-as-errors true}}}
          :tests    {:target           :browser-test
                     :test-dir         "resources/front/test"
                     :ns-regexp        "-test$"
                     :devtools         {:http-port 8100
                                        :http-root "resources/front/test"}}

          :ci-tests {:target           :karma
                     :output-to        "resources/front/test/ci.js"
                     :ns-regexp        "-test$"
                     :compiler-options {:static-fns false}}}}
