;;shadow clj config
{:deps {:aliases [:front-dev]}
 :builds {:app {:target :browser
                :output-dir "resources/front/public/assets/js"
                :asset-path "/assets/js"
                :devtools {:preloads [dev.refresh]
                           :reload-strategy :full
                           :http-port 8000
                           :http-root "resources/front/public/"}
                :closure-defines
                {front.app.core/DEBUG true
                 front.app.http/API-URL #shadow/env "API-URL"}
                :dev      {:modules
                           {:core {:init-fn dev.core/init}}}
                :release  {:modules {:core {:init-fn front.app.core/init}}
                           :compiler-options {:optimizations :simple}}}
          :tests    {:target           :browser-test
                     :test-dir         "resources/front/test"
                     :ns-regexp        "-test$"
                     :devtools         {:http-port 8100
                                        :http-root "resources/front/test"}}

          :ci-tests {:target           :karma
                     :output-to        "resources/front/test/ci.js"
                     :ns-regexp        "-test$"
                     :compiler-options {:static-fns false}}}}
